/* FONTS */
@font-face {
    font-family: hipPocket;
    src: url(./HipPocket-wze8.otf);
}

@font-face {
    font-family: shagadelic;
    src: url(./ShagadelicBold-jrKj.ttf);
}

html,
body,
header,
.background {
    height:100vh;
    color: white;
    background: url("./2020-03-15.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.main {
    padding: 0;
}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-toggler {
    margin-top: 30px;
    z-index: 2;
}

.navbar .navbar-toggler-icon {
    background-image: url(./famke_logo_opt.png)!important;
    height: 80px;
    width: 80px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.navbar .navbar-toggler-icon:hover {
    box-shadow: 0px 0px 150px #000000;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    border: none;
}

/* NAVBAR */
.menu{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(189, 154, 154);
    z-index: 1;
    transition: 0.5s;
}

.menu.active{
    left: 0;
    overflow: auto;
}

.social {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.social ul li {
    display: inline-block;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .nav ul {
    position: relative;
    margin-top: 5%;
    padding-left: 0;
    width: 100%;
  }
  
  .nav ul li {
    list-style: none;
  }
  
  .nav ul li a {
    width: 100%;
    color: #333;
    text-decoration: none;
    font-size: 3em;
    font-family: shagadelic;
    padding: 5px 20px;
    display: list-item;
    text-align: center;
    font-weight: 700;
    transition: 0.5s;
  }
  
  .nav ul:hover li a {
    color:#0002; 
    }
  
  .nav ul li:hover a {
    color: rgb(71, 71, 71);
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    /* background: #fff; */
  }
  
  .nav ul li a:before 
  {
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0,0,0,.1);
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s,left 0.5s;
  }
  
  .nav ul li a:hover:before {
    content: attr(data-text);
    text-shadow: none;
    opacity: 1;
    letter-spacing: 10px;
    width: 100%;
    height: 1800px;
  }
  
  .nav ul li:nth-child(6n+1) a:before
  {
    background: purple;
  }
  .nav ul li:nth-child(6n+2) a:before
  {
    background: limegreen;
  }
  .nav ul li:nth-child(6n+3) a:before
  {
    background: fuchsia;
  }
  .nav ul li:nth-child(6n+4) a:before
  {
    background: royalblue;
  }

/* NAVBAR ENDS */


#mainTitle {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    font-family: hipPocket;
}

#famke {
    font-size: 600%;
    color: fuchsia;
}

#mainTitle img {
  margin: -2% auto;
  width: 100%;
}

#roumstead {
    font-size: 280%;
    margin: -2% auto 0 auto;
    color: limegreen;
}

#tagline {
    color: rgb(88, 122, 224);
    font-size: 200%;
    margin-bottom: 0;
    /* letter-spacing: 30px; */
}

.left-stars, .right-stars {
  padding: 0;
}

.star img{
  height: 50vh;
  width: 100%;
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .yourElement {
        animation-duration: 3s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }

    .navbar {
        padding: 0;
    }

    .navbar-toggler {
        margin-top: 10px;
    }

    #mainTitle {
        width: 100%;
        margin-top: 15%;
    }
}



